<div>
    <angular-json-form [form]="form" (event)="event($event)" (send)="send($event)"></angular-json-form>
</div>
<hr>
<div style="width: 500px;max-width: 90%;">
    <angular-json-form [form]="form2" (event)="event($event)" (send)="send($event)"></angular-json-form>
</div>
<hr>
<div style="width: 400px;max-width: 90%;">
    <angular-json-form [form]="form3" (event)="event($event)" (send)="send($event)"></angular-json-form>
</div>
<hr>
<div style="width: 400px;max-width: 90%;">
    <angular-json-form [form]="form4" (event)="event($event)" (send)="send($event)"></angular-json-form>
    <span style="cursor: pointer;padding: 5px;" (click)="form4.lang = 'en-US'">English</span>
    <span style="cursor: pointer;padding: 5px;" (click)="form4.lang = 'es-ES'">Español</span>
</div>
<hr>
<div style="width: 1200px;max-width: 90%;">
    <angular-json-form [form]="form5" (event)="event($event)" (send)="send($event)"></angular-json-form>
</div>